<div class="mv-main__header">
  <h1><%= @component.capitalize %></h1>
</div>

<% styleguide_stubs(@component).each_with_index do |component_properties, index| %>
  <div class="mv-component">
    <div class="mv-component__item">
      <%= ui_component @component, component_properties %>
    </div>
    <div class="mv-component__description">
      <h2><%= @component.capitalize %> <%= index + 1 %></h2>
      <div class="mv-component__description__definition">
        <code class="language-ruby">&lt;%= ui_component("<%= @component %>", {properties as below}) %&gt;</code>
      </div>
      <%- formatted = JSON.pretty_generate component_properties  %>
      <pre class="mv-component__description__properties language-ruby"><code><%= formatted.gsub(/\"(\S+)?\":/, '\1:') %></code></pre>
    </div>
  </div>
<% end %>
