<!DOCTYPE html>
<html>
<head>
  <title><% t :mountain_view.main.styleguide_title  %></title>
  <%= stylesheet_link_tag 'mountain_view/styleguide', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mountain_view/styleguide', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="mv-header">
    <div class="mv-header__logo"><% t :mountain_view.main.styleguide_title %></div>
  </div>
  <div class="mv-flex-wrapper">
    <div class="mv-sidebar">
      <% if extra_pages.any? %>
        <h3><% t :mountain_view.main.extra_pages %></h3>
        <ul>
          <%- extra_pages.each do |extra_page| %>
            <li>
              <%= link_to_unless_current prettify_word(extra_page), extra_pages_path(extra_page) %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <h3><% t :mountain_view.main.components %></h3>
      <ul>
        <%- mv_components.each do |component| %>
          <li>
            <%= link_to_unless_current component.title, styleguide_path(id: component.name) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="mv-main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
