<!DOCTYPE html>
<html>
<head>
  <title>Styleguide</title>
  <%= stylesheet_link_tag 'mountain_view/styleguide', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mountain_view/styleguide', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="mv-header">
    <div class="mv-header__logo">STYLEGUIDE</div>
  </div>
  <div class="mv-flex-wrapper">
    <div class="mv-sidebar">
      <h3>COMPONENTS</h3>
      <ul>
        <%- mv_components.each do |component| %>
          <li>
            <%= link_to component.capitalize, styleguide_path(id: component) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="mv-main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
